/* LAYOUT */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.azzurro i {
  color: lightblue;
}

.rosa i {
  color: lightpink;
}

.old {
  opacity: 1;
}

.young {
  opacity: 0.3;
}
